<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Registration</title>
	<meta name='viewport' content='width=device.width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
	<script src='main.js'></script>
</head>

<body>
	<form action="register" method="post">
		{% csrf_token %}

		<input type="text" name="first_name" placeholder="Nombres"><br>
		<input type="text" name="last_name" placeholder="Apellidos"><br>
		<input type="text" name="username" placeholder="Nombre de usuario"><br>
		<input type="email" name="email" placeholder="email"><br>
		<input type="password" name="password1" placeholder="Contraseña"><br>
		<input type="password" name="password2" placeholder="Confirmar Contraseña"><br>

		<input type="Submit" value="Enviar">
	</form>

	<div>
		{% for message in messages %}
		<h3> {{message}} </h3>
		{% endfor %}
	</div>

</body>

</html>